/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar.navbar .navbar-brand:hover,
.navbar.navbar .navbar-brand:focus {
  color: blue;
}

.nav-link {
  font-weight: bold;
}

.nav-link .nav-link:hover,
.nav-link .nav-link:focus {
  color: blue;
}

a.navbar-brand {
  background-color: normal;
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.container1{
  background-color: lightgrey;
}

.myDiv1{
  border: 6px outset blue;
  background-color: grey;
  text-align: center;
  width: 750px;
  margin:auto;
}

/* Provide sufficient contrast against white background */
a {
  color: blue;
}

.btn-secondary {
  color: white;
  background-color: black;
  border-color: #1861ac;
}

h4 {
  color:white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
