@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your To-Do's</h1>
</div>
<p class="text-center"><img src="https://gardengoatquote.files.wordpress.com/2012/05/to-do-list-wallpaper.jpg"</p>
<div class="text-center"><p>Use this for keeping track of your tasks, and managing your schedule better.</p></div>
