@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        <h3> We're going to have an exciting business retreat.</h3>
        <p>Everyone always loves going to Hawaii on business trips and that seems over done, so we aren't going to do that. 
            Instead, our trip is going to be taking place in Japan. The Japanese archipelago has a deep and rich culture,
            with centuries of unique history and beautiful land scapes and land marks such as Mount Fuju. Though this isn't 
            the usual mainstream place to visit on a business retreat, we hope going somewhere new with an extreemly 
            different culture will be fun and possibly informative/interesting for everyone. Plus, who in the right mind
            doesn't love seeing the Sakura tree?</p>
            <img src="https://d25tv1xepz39hi.cloudfront.net/2017-02-06/files/cherry-blossom-sample-image_1490.jpg" height = 500><br>
            <div class="myDiv1">
                <span>Let us know if you can come with us here:<a class="btn" asp-action="RsvpForm"><h4>RSVP</h4></a></span>
            <div>
    </div>
 </body>
</html>