@model IEnumerable<FinalProject.Models.MenuResponses>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Food Menu</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2>Here is the list of the foods we will be providing and who requested them.</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Name</th><th>Food</th></tr>
            </thead>
            <tbody>
                @foreach (FinalProject.Models.MenuResponses r in Model) {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Food</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
</footer>
</html>