@{
    ViewData["Title"] = "Enter an RGB color to see what it looks like!";
}
<h1>@ViewData["Title"]</h1>

<label for="r">R</label>
<input type="number" id="r" name="Red">
<br>
<label for="g">G</label>
<input type="number" id="g" name="Green">
<br>
<label for="b">B</label>
<input type="number" id="b" name="Blue">
<br>
